.signup{
text-align: center;
padding-left: 30%;
padding-right: 30%;
}

.signupForm {
    justify-content: center;
}

.signupHeader{
    text-align: center;
    font-size: large;
    margin-top: 10%;
    margin-bottom: 25px;
}