.input {
    width: 100%;
    margin-top: 10px;
    opacity: .7;
    background: linear-gradient(to left, #ffefba, #ffffff);
}

/* .dropdownToggle {
    background: linear-gradient(to top, #2193b0, #6dd5ed);
} */